body {
    font-family: Helvetica, sans-serif;
}

#formulario{
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nomeJogador{
    margin: 15px;
}

.titulo{
    margin: auto;
    width: 500px;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 50px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.tabuleiro {
    border-collapse: separate;
    margin: auto;
    width: 500px;
    height: 500px;
    border-spacing: 10px;
    background-color: #fff;
    border-radius: 50px;
}

th {
    border: 1px solid black;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    height: 50px;
}

.casa {
    border: 1px solid black;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-align
    : center;
}
#jogarNovamente {
    margin: auto;
    text-align: center;
}

.placar {
    border-collapse: collapse;
    margin: auto;
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}

.placar td {
    border: 1px solid black;
    width: 150px;
}

#btnJogarNovamente{
    background-color: #fff;
    width: 300px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 20px 0;
    border-radius: 100px;
}


